@import "tailwindcss";

@theme {
  --color-grey-900: #48556a;
  --color-grey-500: #6e8098;
  --color-grey-400: #9daec2;
  --color-grey-200: #ecf2f8;

  --font-manrope: "Manrope", sans-serif;

  --text-13: 0.8125rem;
}

.text-preset1-bold {
  @apply font-manrope font-bold text-xl leading-[1.3] tracking-[0.015rem];
}

.text-preset2-bold {
  @apply font-manrope font-bold text-13 leading-[1.4] tracking-[0.12%];
}

.text-preset2-medium {
  @apply font-manrope font-medium text-13 leading-[1.4] tracking-[0.12%];
}

.text-preset3 {
  @apply font-manrope font-medium text-13 leading-[1.4] tracking-[25%] uppercase;
}

.social-icon:focus {
  filter: brightness(0) saturate(100%) invert(95%) sepia(78%) saturate(400%)
    hue-rotate(80deg) brightness(92%) contrast(92%);
}

.social-icon:hover {
  filter: brightness(0) saturate(100%) invert(97%) sepia(48%) saturate(1054%)
    hue-rotate(84deg) brightness(90%) contrast(89%);
}

.social-icon:active {
  filter: brightness(0) saturate(100%) invert(99%) sepia(20%) saturate(5023%)
    hue-rotate(75deg) brightness(105%) contrast(78%);
}
